<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>

<body>
<h3 align="center" >Edit</h3><br><br>
<div class="container">
Category: <select style="margin:0 0 0 10px;">
			<option type="text" name="name">Name</option>
			<option type="text" name="category">Category</option>
			<option type="date" name="publish">Publish</option>
			<option type="date" name="record">Record</option>
			<option type="date" name="archive">Archive</option>
		</select><br><br>
Name: <input class="input-medium" type="text" name="name" style="margin:0 0 0 33px;"><br><br>
Tag: <input class="input-medium" type="text" name="tag" style="margin:0 0 0 46px;"><br><br>
Date: <input class="input-medium" type="date" name="recordDate" style="margin:0 0 0 40px;"><br><br>
Record: <input class="input-medium" type="date" name="publishDate" style="margin:0 0 0 25px;"><br><br>
Publish: <input class="input-medium" type="date" name="archiveDate" style="margin:0 0 0 26px;"><br><br>

  <button class=" btn btn-warning" type="button" style="margin:0 0 0 400px;">Update</button>

</div>


</body>



</html>