<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>

<body>
<h3 align="center">Category</h3>
<div class="container">
Add Category: <br><br>
<input class="input-medium" type="text" name="categoryName"><br>
  <button class=" btn btn-warning" type="button">Add</button><br><br>
Delete Category: <br><br>
<input class="input-medium" type="text" name="categoryName"><br>

  <button class=" btn btn-warning" type="button">Delete</button>

</div>


</body>



</html>