@(categories: List[CategoryStorage])

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>

<body style="background-color: #ADD8E6;">
	<div class="navbar navbar-fixed-top"
		style="margin: 30px 350px 0 350px;">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav" style="padding: 0px 100px 0 50px;">
					<li><a href="#">Archive</a></li>
					<li class="active"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Edit <b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu" style="margin: 0px 0px 0 130px;">
							<li><a href="#">Category</a></li>
							<li><a href="#">Record</a></li>

						</ul></li>
					<li><a href="#">Report</a></li>
					<li><a href="#">Backup</a></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">User
							Management <b class="caret"></b>
					</a>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu" style="margin: 0px 0px 0 360px;">
							<li><a href="#">Add</a></li>
							<li><a href="#">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul></li>
					<li><a href="#">Search</a></li>

				</ul>
			</div>
		</div>
	</div>
	<br>
	<button class="btn" type="button" style="margin: 60px 0px 0 927px;">Log
		out</button>


	<br>
	<br>
	<div
		style="margin: 0 330px 0 340px; padding: 0 0px 40px 140px; border-style: solid; border-width: 1px; background-color: white;">

		<h3 align="center" style="margin: 20px 0 0 -150px;">Category</h3>
		<br> <br>
		<div class="container">
			Add Category: <br>
			<form action="@routes.CategoryCreator.addCategory" method="post">
				<input class="input-medium" type="text" name="categoryName"
					required="required" placeholder="Category name to add"><br>
				<input class=" btn btn-warning" type="submit" value="Add">
				<br>
			</form>
			<br> <br> Delete Category: <br> <br>
			<form action="@routes.CategoryRemover.removeCategory()" method="post">
				<select name="categoryName" type="text" required="required">
				@for(p <- categories){
				<option value = "@p.categoryName">@p.categoryName</option> 
				}
				</select>
				<br>
					<input class=" btn btn-warning" type="submit" value="Delete">
			</form>
		</div>
	</div>

</body>

</html>
