@(message: String)

<h1>
	Welcome to ArchiveMS System!!! <br> The System is under
	Construction
</h1>
<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        ADD
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#">Record</a></li>
  
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Category</a></li>
  
  
</ul>
</ul>

<form action="@routes.KeyChecker.logout" method="get">
<button type = "submit">Logout</button>

</form>


