<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>

<body>
<h3>Record</h3>
<div class="container">
<input class="input-medium" type="text" name="name" placeholder="Name">
<input class="input-medium" type="text" name="tag" placeholder="Tag">
<input class="input-medium" type="date" name="recordDate" placeholder="Rec Date">
<input class="input-medium" type="date" name="publishDate" placeholder="Publish Date">
<input class="input-medium" type="date" name="archiveDate" placeholder="archive Date">
<input class="input-medium" type="text" name="category" placeholder="Category">
  <button class=" btn btn-warning" type="button">Find</button>

</div>


</body>



</html>